@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
        
    --color-earth-100: #f4f1ea;
    --color-earth-200: #e2ddd3;
    --color-earth-500: #8c7a6b;
    --color-earth-700: #5a5243;
    --color-earth-800: #3c362a;
    --color-earth-900: #2b261c;
}
